.loading{width: 200px; height: 200px; position: relative;}

.loading::before, .loading::after{ width: 0px; height: 0px; background: black; border-radius: 50%; content: '';
        position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin:auto;animation: goBig 1.5s linear infinite;}

.loading::after {animation-delay: 0.8s}

@keyframes goBig{
  0%{width: 0; height:0; opacity: 1;}
  100%{width: 100px; height: 100px; opacity: 0;}
}

